  /* Navigation link styles */
 a{
    text-decoration: none;
    color: #000;
    }
  hr {
    margin: 1.5rem 0;
  }
  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
  }
  